<h4 class="text-center mt-4 text-darkblue"> Iniciar Sesión </h4>

<%= render 'common/form', scope: :session, url: login_path, form: [
  { type: :text_field, label: :username, placeholder: 'Usuario o correo'},
  { type: :password_field, label: :password, placeholder: '*****'}], submit: 'Iniciar'
%>
