<h2 class="text-centered"> Tareas Pendientes </h2>
  <% @tickets.each do |task| %>
    <% problem = task.problem %>
    <ul>
      <li>
        <%= link_to task.problem.fullname, task %>
      </li>
    </ul>
<% end %>
