<div class="jumbotron text-center text-jumbo" >
  <strong>
  <h1 class="display-4">Charrolímpico</h1>
  <p class="lead">La plataforma oficial para desarrollarse y tener éxito en la olimpiada de informática de Jalisco</p>
  <hr class="mt-4">
  <p>Y si no estás participando también puedes prepararte para próximos años</p>
  <%= link_to 'Registrate!', signup_path, class: "btn btn-success btn-lg", role: 'button' %>
  <p class="mt-4"> ¿Ya eres miembro? </p>
  <%= link_to 'Inicia Sesión', login_path, class: "btn btn-success btn-lg", role: 'button' %>
  </strong>
</div>
<p class="text-center">
  <%= link_to "[Más información]", about_path %>
</p>
