<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">  <%= gravatar_for(current_user, size: 30, class: 'rounded shadow ') %> </a>
  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
    <a class="nav-link nav-option" href="me"> <i class="fas fa-user-cog"></i> Configuraciones </a>
    <a class="nav-link nav-option" href="/logout"> <i class="fas fa-sign-out-alt"></i> Cerrar Sesión </a>
  </div>
</li>
