<%
  scope = nil unless defined?(scope)
  model = nil unless defined?(model)
  url = nil unless defined?(url)
%>

<div class="container">
<%= form_with(scope: scope, url: url,  model: model, local: true, class: 'shadow p-3 mb-3 rounded border-darkblue') do |f| %>
  <% form.each do |field| %>
    <div class="form-group row">
      <%= f.label field[:label], class: 'col-2 col-form-label text-darkblue' %>
      <%= f.send field[:type], field[:label], class: 'col-10 form-control', placeholder: field[:placeholder] %>
    </div>
  <% end %>

  <div class="form-group row col-10 justify-content-center">
    <%= f.submit value: submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
</div>
